<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/blueprint"
       xmlns:cxf="http://camel.apache.org/schema/blueprint/cxf"
       xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
       xsi:schemaLocation="
       http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
       http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0
       http://camel.apache.org/schema/blueprint http://camel.apache.org/schema/blueprint/camel-blueprint.xsd
       http://camel.apache.org/schema/blueprint/cxf http://camel.apache.org/schema/blueprint/cxf/camel-cxf.xsd
       ">

    <!-- ActiveMQ component -->

    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <property name="userName" value="karaf" />
        <property name="password" value="karaf" />
    </bean>

    <bean id="amqPooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="maxConnections" value="5"/>
        <property name="maximumActiveSessionPerConnection" value="5"/>
        <property name="connectionFactory" ref="amqConnectionFactory"/>
    </bean>

    <bean id="consumerJmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
        <property name="concurrentConsumers" value="5"/>
    </bean>

    <bean id="producerJmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="amqPooledConnectionFactory"/>
        <property name="cacheLevelName" value="CACHE_NONE"/>
    </bean>

    <!-- Set up the consumer -->
    <bean id="jmsConsumer" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
        <property name="configuration" ref="consumerJmsConfig"/>
    </bean>

    <!-- Set up the producer -->
    <bean id="jmsProducer" class="org.apache.camel.component.jms.JmsComponent">
        <property name="configuration" ref="producerJmsConfig"/>
    </bean>

    <!-- Camel configuration -->
    <camelContext id="backEnd-camelContext" trace="false" xmlns="http://camel.apache.org/schema/blueprint" >

        <!-- Split the order to manufacturers -->
        <route>
            <from uri="jmsConsumer:queue:orders?disableReplyTo=true"/>
            <split>
                <method beanType="com.savoirtech.routes.ProductSplitter" method="splitProducts"/>
                <choice>
                    <when>
                        <simple>${in.header.manufacturer} == 'abc'</simple>
                        <to uri="jmsProducer:queue:abc_company"/>
                    </when>
                    <when>
                        <simple>${in.header.manufacturer} == 'xyz'</simple>
                        <to uri="jmsProducer:queue:xyz_company"/>
                    </when>
                    <otherwise>
                        <to uri="jmsProducer:queue:no_idea"/>
                    </otherwise>
                </choice>
            </split>
        </route>

        <!-- ABC Company's route -->
        <route>
            <from uri="jmsConsumer:queue:abc_company?disableReplyTo=true"/>
            <marshal>
                <json library="Jackson" prettyPrint="true"/>
            </marshal>
            <to uri="file://target/manufacturers/abc?fileName=order-${date:now:yyyyMMddHHmmssSS}.json"/>
        </route>

        <!-- XYZ Company's route -->
        <route>
            <from uri="jmsConsumer:queue:xyz_company?disableReplyTo=true"/>
            <marshal>
                <json library="Jackson" prettyPrint="true"/>
            </marshal>
            <to uri="file://target/manufacturers/xyz?fileName=order-${date:now:yyyyMMddHHmmssSS}.json"/>
        </route>

    </camelContext>


</blueprint>
